body {
  background-image: url("../assets/images/battleshipBg3.jpg");
  background-size: 100%;
  font-family: 'Coda', cursive;
}
@keyframes animatezoom{
  from{transform:scale(0)}
  to{transform:scale(1)}
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg);}
}
.animateZoom{
  animation: animatezoom;
}
.tg {
  cursor: url(/assets/images/target.png),auto;
}

td:hover {
  background-color: rgba(177, 177, 177, 0.63);
}

.greyLongButton {
  line-height: 5px;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(201, 201, 200);
  width: 100%;
  height: 40px;
  margin-top: 70px;
  padding: 20px;
  background-color: rgb(122, 121, 122);
}
.header {
  color: rgba(48, 171, 167, 0.73);
  font-size: 2em;
  height: 30px;
}

.playerDetails {
  text-align: center;
  width: 100%;
  height: 200px;
}

.spin{
  margin: auto;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 box-sizing: border-box;
 border:16px solid rgb(244, 234, 238);
 border-top-color:rgb(39, 191, 231);
 animation-name: spin;
 animation-duration: 2500ms;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}

.shipsBlock {
  margin-top: 11.9%;
  width: 100%;
  height: 350px;
  color: rgb(67, 195, 199);
}
h4 {
  text-align: center;
}
.oceanGridBlock {
  padding-top: 10%;
  text-align: center;
  width: 100%;
  height: 400px;
}

.targetGridBlock {
  padding-top: 10%;
  text-align: center;
  width: 100%;
  height: 400px;
}

.statusBlock {
  text-align: center;
  width: 100%;
  height: 213px;
  margin-top: 20px;
}
.buttonBlock {
  margin-top: 41%;
  width: 100%;
  height: 100px;
}
@media only screen and (min-width:1048px){
  .playerDetails {
    display: none;
    border:0.5px solid rgb(50, 176, 184);
    float: right;
    width: 15%;
  }
  .shipsBlock {
    position: absolute;
    border:0.5px solid ;
    float: left;
    width: 15%;
  }
  .oceanGridBlock {
    margin-left: 14.6%;
    position: absolute;
    float: left;
    width: 34%;
  }
  .targetGridBlock {
    float: left;
    width: 34%;
    position: absolute;
    margin-left: 50%;
  }
  .statusBlock {
    display: none;
    border:0.5px solid rgb(50, 176, 184);
    float: right;
    width: 15%;
  }
  .buttonBlock {
    text-align: center;
    float: left;
    width: 100%;
  }
  .popup{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    height: 100%;
    margin: auto;
    background-color: rgba(16, 17, 15, 0.48);
  }
}

.victory{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  height: 100%;
  margin: auto;
  background-color: rgba(16, 17, 15, 0.48);
}

.defeat{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  height: 100%;
  margin: auto;
  background-color: rgba(16, 17, 15, 0.48);
}
.opponent_arrival_message button{
  background-color: rgba(60, 117, 105, 0.71);
  color: white;
  font-family: 'Cinzel', serif;
  border:none;
  font-size: 15px;
  margin-top: 40px;
  padding:10px;
  width: 90%;
  height: 40px;
}
.opponent_arrival_message{
  z-index: 1;
  color:rgb(19, 236, 250);
  animation: animatezoom 0.6s;
  /* background-color: rgba(35, 80, 87, 0.83); */
  background-color: rgba(16, 17, 15, 0.48);
  border: 0.5px solid rgb(19, 236, 250);
  text-align: center;
  font-size: 20px;
  width: 350px;
  position: absolute;
  overflow: auto;
  top:20%;
  left: 40%;
  height: 350px;
}
.footer {
  height: 10px;
  width: 100%;
}
.buttonBlock {
  width: 100%;
  height: 100px;
}

#targetGrid {
  width: 350px;
  height:350px;
  border-collapse: collapse;
}
#oceanGrid {
  width: 350px;
  height:350px;
  border-collapse: collapse;
}
#targetGrid td {
  border: 0.5px solid rgb(142, 145, 142);
  background-color:rgba(20, 230, 231, 0.19);
  background-size: 32px;
  background-repeat: round;
}

#oceanGrid td {
  border: 0.5px solid rgb(142, 145, 142);
  background-color:rgba(20, 230, 231, 0.19);
  /* background-size: 30px; */
}
.titles {
  color: rgb(178, 217, 229) ;
  background-color: rgba(53,62,77,0.46);
  padding-right: 10px;
  padding-left: 10px;
  /* background-color:#404855; */
}

#dockTitle {
  margin-left: 32%;
}

li {
  list-style: none;
  padding: 15px;
}

li:hover {
  cursor: pointer;
  color: SteelBlue;
  animation: fadeIn 1s;
}

.messageBox {
  width: 600px;
  height: 30px;
  overflow: auto;
  font-size: 25px;
  padding-top: 10px;
  margin-top: 30px;
  color:rgb(124, 143, 155);
  background-color: rgba(53,62,77,0.46);
  border-radius: 67px 67px 67px 67px;
  line-height:15px;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#ready {
  font-family: 'Coda', cursive;
  font-size: 17px;
  color:rgb(33,54,60);
  background-color: #9d9eac;
  width: 100px;
  height: 40px;
  border-radius: 7px;
}

.shipImages {
  width: 50px;
  height:300px;
}

#victory {
  left: 35.5%;
}

#defeat {
  left: 35.5%
}
