html {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  background-image: url('../assets/images/cover.jpg');
  background-size: 100% 100%;
  font-family: 'Cinzel', serif
}
header {
  color: rgb(65, 64, 65);
  font-size: 2.65em;
  animation: fadeIn 5s;
  text-shadow: 0px 1px 1px #ddd,
               0px 0px 20px rgba(0, 0, 0, 0.6),
               0px 0px 20px rgba(0, 0, 0, 0.2),
               0px 0px 20px rgba(0, 0, 0, 0.18),
               0px 0px 20px rgba(0, 0, 0, 0.4),
               0px 0px 20px rgba(100, 100, 184, 0.40);
}
b {
  font-weight: 500;
}
.options li {
  color: white;
  text-shadow: 0px 1px 1px #ddd,
               0px 0px 20px rgba(0, 0, 0, 0.6),
               0px 0px 20px rgba(0, 0, 0, 0.2),
               0px 0px 20px rgba(0, 0, 0, 0.18),
               0px 0px 20px rgba(0, 0, 0, 0.4),
               0px 0px 20px rgba(100, 100, 184, 0.40);
  list-style-type: none;
  padding:10px;
}
.options li:hover {
  cursor:pointer;
  animation: fadeIn 1s;
}

.hostButton:hover, .joinButton:hover{
   animation: fadeIn 3s;
   background-color: rgba(255, 255, 255, 0.28);
   border-radius: 5px;
}
.hostButton, .joinButton{
   animation: fadeIn 2s;
   font-size: 18px;
   width: 100%;
   height: 60px;
   border:none;
   margin: 12% 0% 0% 0%;
   background-color: rgba(60, 117, 105, 1);
   color: rgb(111, 112, 120);
   font-size: 40px;
   animation: fadeIn 2s;
   font-family: 'Cinzel', serif;
}

.options {
  text-align: center;
  width: 100%;
  color: rgb(111, 112, 120);
  font-size: 40px;
  animation: fadeIn 2s;
}
.overflow-model {
  display:none;
  padding-top:100px;
  position:fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0, 0, 0, 0.67);
}
.popupContent{
  margin:7% auto;
  color: rgba(60, 117, 105, 0.71);
  animation: animatezoom 0.6s;
  background-color:rgba(0, 0, 0, 0.85) ;
  border: 1px solid rgba(60, 117, 105, 0.71);
  position:relative;
  padding:0;
  outline:0;
  width:600px;
  height: 400px;
  border-radius: 7px;
}
.popupContent button{
  background-color: rgba(60, 117, 105, 1);
  color: white;
  font-family: 'Cinzel', serif;
  border:none;
}
.aboutGamePopup{
  text-indent: 50px;
  border: 0.5px solid rgba(60, 117, 105, 0.71);
  color: rgb(156, 153, 145);
  position: fixed;
  margin:0 auto;
  background-color:rgba(0, 0, 0, 0.85);
  position:relative;
  padding:0;
  outline:0;
  width:900px;
  height:500px;
  overflow: scroll;
  font-family: 'Cinzel', serif;
  border-radius: 7px;
}
.blueLongButton {
  line-height: 5px;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(201, 201, 200);
  width: 100%;
  height: 40px;
  margin-top: 70px;
  padding: 20px;
  background-color: rgb(122, 121, 122);
}
.close {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: grey;
}
.closeContainer{
  position: -webkit-sticky;
  position: sticky;
  top:3%;
  width: 100%;
  height: 40px;
  text-align: right;
}
.animateZoom {
  animation:animatezoom 0.6s;
}
.titles {
  text-align:center;
  font-family: 'Coda', cursive;
}
#gameJoinHeading{
  color:rgb(124, 143, 155);
  background-color: rgba(53,62,77,0.46);
  font-size: 30px;
}
tr:hover{
  background-color: rgba(37, 193, 214, 0.35);
}
#joinHostedGameButton:hover{
  color: white;
  animation: fadeIn 1s;
}
#joinHostedGameButton{
  margin-right: 4%;
  color:rgb(94, 199, 198);
  background-color: rgba(255,255,255,0);
  font-family: 'Coda', cursive;
  border:none;
  height: 35px;
  align-content: center;
  cursor: pointer;
  border-radius:1px;
  font-size: 17px;

}
.hostedTable{
  overflow: scroll;
  margin: auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0);
}
td{
  font-family: 'Coda', cursive;
  border: 0.5px solid rgba(20, 230, 231, 0.39);
  width: 20px;
}
.hostedGame{
  color: rgb(94, 199, 198);
  text-align: center;
  font-size: 21px;
  margin: auto;
  height:40px;
  width: 580px;
}

#settings li {
  list-style-type: none;
  font-size: 18px;
  padding: 10px;
  color: rgb(156, 153, 145);
}
#settings li:hover {
  background-color:rgba(255, 255, 255, 0.24);
  animation: fadeIn 2s;
}
.shipImage {
  width: 100%;
  text-align: center;
}
#ship{
  display: none;
  max-width:auto;
  height: auto;
  animation: fadeIn 12s;
}
@keyframes animatezoom{
  from{transform:scale(0)}
  to{transform:scale(1)}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg);}
}
.spin{
margin: auto;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 box-sizing: border-box;
 border:3px solid rgba(0, 0, 0, 0.79);
 border-top-color:rgb(244, 234, 238);
 animation-name: spin;
 animation-duration: 2500ms;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}
.popup{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  height: 100%;
  margin: auto;
  background-color: rgba(16, 17, 15, 0.48);
}
.opponent_arrival_message{
  z-index: 1;
  color: rgba(60, 117, 105, 0.71);
  animation: animatezoom 0.6s;
  background-color: rgba(0, 0, 0, 0.79);
  border: 0.5px solid rgba(60, 117, 105, 0.71);
  text-align: center;
  font-size: 20px;
  width: 600px;
  height: 400px;
  position: absolute;
  overflow: auto;
  top:20%;
  left: 30%;
}
.opponent_arrival_message button{
  background-color: rgba(60, 117, 105, 0.71);
  color: white;
  font-family: 'Cinzel', serif;
  border:none;
  font-size: 15px;
  margin-top: 40px;
  padding:10px;
  width: 90%;
  height: 40px;
}
.field {
  margin-top: 20%;
  text-align: center;
}
.field .textField:focus {
  border-color: grey;
  border-bottom: 1px solid rgb(36, 140, 137);
}
.field .textField:hover {
  border-color: grey;
  border-bottom: 1px solid rgb(36, 140, 137);
}
.field .textField {
  border: none;
  border-color: grey;
  background-color:rgba(0, 0, 0, 0.85) ;
  color: grey;
  font-size: 16px;
  width: 80%;
  height: 30px;
  outline: 0;
}

@media only screen and (min-width:980px){
  header {
    margin-top: 13%;
    width: 65%;
  }
  .shipImage {
    text-align: left;
    width: 34%;
    float: right;
  }
  .options {
    width: auto;
    margin: 1% auto 5% auto;
    color: rgb(111, 112, 120);
    font-size: 40px;
    animation: fadeIn 2s;
  }
}

.sideHeadings {
  text-indent: 0;
  font-family: 'Cinzel', serif;
  color: rgba(60, 117, 105, 0.81);
}

ul li {
  text-indent: 0;
}

ol li {
  text-indent: 5px;
}

.submitOnJoin,.submitOnHost{
  background-color: rgba(60, 117, 105, 1);
  border: none;
  font-family: inherit;
  width: 85%;
}

.tableContainer {
  text-align: center;
  width: 100%;
  height: 730px;
  overflow: auto;
}
.hidden{
  display: none;
}
